<form action="http://localhost:3000/signup" method="post">
  <input placeholder = "username" type="text" name="username" />
  <input placeholder = "email" type="text" name="email" />
  <input placeholder = "password" type="password" name="password" />
  <input type="submit"/>
</form>
